@page
@using Logic.Managers;
@using Logic.Entities;
@using Logic.DTO;
@model WebApp.Pages.HousesModel
@{
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    ViewData["Title"] = "Houses";
}
<div class="ProductsContent">
    <a href="/RecommendedHouses?name=ByChance">See recommended books</a>
    @foreach (House house in Model.houses)
    {
        @if(house.Status == true)
        {
            <form method="post">
                <div class="product-card">
                    <div class="product-card-img">
                        <input asp-for="HouseDTO.HouseID" type="hidden" value="@house.HouseID" />
                        <button type="submit" class="framed">
                            <img class="product-card-img" src="data:image/jpg;base64,@System.Convert.ToBase64String(house.HousePhoto)" />
                        </button>
                    </div>
                    <div class="text-center">
                        <div class="price-and-name">
                            <span class="name">@house.Address</span>
                        </div>
                        <div class="price-and-name">
                            <span class="price">Rent: $@house.Rent</span>
                        </div>

                    </div>
                </div>
            </form>
        }
        
    }
</div>